<head>
  <script src="/lib/jquery-1.7.min.js" type="text/javascript"></script>

  <script>
    $(document).ready(function() {
      $('#start_btn').click(function(e) {
        start_projects();
        e.preventDefault();
      });

      $('#stop_btn').click(function(e) {
        stop_projects();
        e.preventDefault();
      });

      $('a').click(function(e) {
        var selected_projects = {};
        selected_projects[$(this).attr('rel')] = $(this).text();
        console.log(selected_projects);
        post_data(selected_projects);
        e.preventDefault();
      });
    });

    function start_projects() {
      var selected_projects = {};
      $('input:checkbox:checked').each(function () {
        selected_projects[$(this).attr('name')] = 'start';
      });
      post_data(selected_projects);
    }

    function stop_projects() {
      var selected_projects = {};
      $('input:checkbox:checked').each(function () {
        selected_projects[$(this).attr('name')] = 'stop';
      });
      post_data(selected_projects);
    }

    function post_data(selected_projects) {
      $.ajax({
        type: "POST",
        url: "perform",
        data: selected_projects,
      }).done(function( msg ) {
        //alert( "Message: " + msg );
      });
    }
  </script>
</head>

<table class="table zebra-striped table-condensed">
  <tr>
    <%= erb :_header %>
  </tr>
  <% @projects.each do |project, config| %>
    <% @project = config %>
    <tr>
      <%= erb :_project_action_select %>
      <td><%= @project.name %></td>
      <%= erb :_project_quick_starter %>
      <%= erb :_project_links %>
    </tr>
  <% end %>
</table>
